<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragments/head :: head}"></head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide" />
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Space battle</h1>
            </div>
            <div class="text-center">
                <h2>Battle</h2>
                <br>
                <p th:text="${request.getShipOneQuantity()} + ' ' + ${request.getShipOne().getName()} + (${request.getShipOneQuantity()} > 1 ? 's' : '')"></p>
                <br>
                <p>VS.</p>
                <br>
                <p th:text="${request.getShipTwoQuantity()} + ' ' + ${request.getShipTwo().getName()} + (${request.getShipTwoQuantity()} > 1 ? 's' : '')"></p>
            </div>
            <div class="center-block result-box text-center">
                <h3 class="audio-wide" th:text="'Winner: ' + (${response.getWinnerShip()} != null ? ${response.getWinnerShip().getName()} : 'Draw')"></h3>
                <h3>Remaining strength</h3>
                <dl style="display:grid;grid-template-columns: min-content 1fr;">
                    <dt style="width:435px;" th:text="${request.getShipOne().getName()}"></dt>
                    <dd th:text="${response.getStory().getShipOneRemainderHealth()}"></dd>
                    <dt style="width:435px;" th:text="${request.getShipTwo().getName()}"></dt>
                    <dd th:text="${response.getStory().getShipTwoRemainderHealth()}"></dd>
                </dl>
                <p class="text-center" th:text="${response.getWinnerShip() == null} ? 'The ships destroyed each other in an epic battle!' : (
                    ${response.getWinnerShip().getName()}
                    + (${response.isUsedJediPowers()} ? ' used his Jedi Power for a stunning victory ' : ' destroyed ')
                    + ${response.getLoserShip().getName()}
                )"></p>
            </div>
            <br>
            <div class="text-center">
                <a th:href="@{/}"><i class="fa fa-undo"></i> Back into home</a>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script th:inline="javascript">document.addEventListener("DOMContentLoaded",function(){null===localStorage.getItem('xid')&&localStorage.setItem("xid",/*[[${xid}]]*/);})</script>
    </body>
</html>