<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragments/head :: head}"></head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Space battle</h1>
            </div>
            <table class="table table-hover">
                <caption><i class="fa fa-rocket"></i> The ships are ready for the next mission</caption>
                <thead>
                    <tr>
                        <th>Ship</th>
                        <th>Attack</th>
                        <th>Strength</th>
                        <th>Jedi Force</th>
                        <th>Team</th>
                        <th>Brief information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ship : ${shipList}">
                        <td th:text="${ship.getName()}"></td>
                        <td th:text="${ship.getWeaponPower()}"></td>
                        <td th:text="${ship.getStrength()}"></td>
                        <td th:text="${ship.getJediFactor()}"></td>
                        <td th:text="${ship.getTeam()}"></td>
                        <td th:text="${ship.getNameAndSpecs()}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="center-block battle-box border">
                <form th:action="@{/battle}" th:object="${battleRequest}" method="post">
                    <h2 class="text-center">Mission</h2>
                    <div class="center-block show-center">
                        <label>
                            <input class="form-control text-field" type="number" th:field="*{shipOneQuantity}" placeholder="Enter number of ships" required />
                        </label>
                        <label>
                            <select class="form-control btn-default drp-dwn-width" th:field="*{shipOne}">
                                <option value="">Select ship</option>
                                <option th:each="ship : ${shipList}" th:value="${ship.getId()}" th:text="${ship.getName()}"></option>
                            </select>
                        </label>
                    </div>
                    <br>
                    <p class="text-center">Enemy</p>
                    <br>
                    <div class="center-block show-center">
                        <label>
                            <input class="form-control text-field" type="number" th:field="*{shipTwoQuantity}" placeholder="Enter number of ships" required />
                        </label>
                        <label>
                            <select class="form-control btn-default drp-dwn-width" th:field="*{shipTwo}">
                                <option value="">Select ship</option>
                                <option th:each="ship : ${shipList}" th:value="${ship.getId()}" th:text="${ship.getName()}"></option>
                            </select>
                        </label>
                    </div>
                    <br>
                    <input type="hidden" th:field="*{xid}" />
                    <button class="center-block btn btn-md btn-danger" type="submit">Attack!!</button>
                </form>
            </div>
            <div class="text-center">
                <form id="history" th:action="@{/history}" method="post">
                    <input type="hidden" id="history-xid" name="xid" />
                    <a href="#" onclick="history()"><i class="fa fa-history"></i> History of battles</a>
                </form>
            </div>
        </div>
        <script defer th:src="@{'/js/index.js?v=20240120'}"></script>
        <script>function history(){document.getElementById("history").submit()}</script>
    </body>
</html>