<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Space battle</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Bootstrap -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" integrity="sha512-YTuMx+CIxXa1l+j5aDPm98KFbVcYFNhlr2Auha3pwjHCF1lLbY9/ITQQlsUzdM1scW45kHC5KNib4mNa1IFvJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Space battle</h1>
            </div>
            <table class="table table-hover">
                <caption><i class="fa fa-rocket"></i> The ships are ready for the next mission</caption>
                <thead>
                    <tr>
                        <th>Ship</th>
                        <th>Attack</th>
                        <th>Strength</th>
                        <th>Jedi Force</th>
                        <th>Team</th>
                        <th>Brief information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ship : ${shipList}">
                        <td th:text="${ship.getName()}"></td>
                        <td th:text="${ship.getWeaponPower()}"></td>
                        <td th:text="${ship.getStrength()}"></td>
                        <td th:text="${ship.getJediFactor()}"></td>
                        <td th:text="${ship.getTeam()}"></td>
                        <td th:text="${ship.getNameAndSpecs()}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="battle-box center-block border">
                <form action="/battle" method="post" th:object="${battleRequest}">
                    <h2 class="text-center">Mission</h2>
                    <div class="center-block show-center">
                        <label>
                            <input class="form-control text-field" type="number" name="ship1_quantity" th:field="*{shipOneQuantity}" placeholder="Enter number of ships" required />
                        </label>
                        <label>
                            <select class="form-control drp-dwn-width btn-default" name="ship1_id" th:field="*{shipOne}">
                                <option value="">Select ship</option>
                                <option th:each="ship : ${shipList}" th:value="${ship.getId()}" th:text="${ship.getName()}"></option>
                            </select>
                        </label>
                    </div>
                    <br>
                    <p class="text-center">Enemy</p>
                    <br>
                    <div class="center-block show-center">
                        <label>
                            <input class="form-control text-field" type="number" name="ship2_quantity" th:field="*{shipTwoQuantity}" placeholder="Enter number of ships" required />
                        </label>
                        <label>
                            <select class="form-control drp-dwn-width btn-default" name="ship1_id" th:field="*{shipTwo}">
                                <option value="">Select ship</option>
                                <option th:each="ship : ${shipList}" th:value="${ship.getId()}" th:text="${ship.getName()}"></option>
                            </select>
                        </label>
                    </div>
                    <br>
                    <button class="center-block btn btn-md btn-danger" type="submit">Attack!</button>
                </form>
            </div>
        </div>
    </body>
</html>